/******** Reset ***********/
* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}
/****************************/
/************Colors***********/
:root {
  --beige: #eadeb7;
  --yellow: #ffc70d;
  --orange: #f06920;
  --red: #eb1d31;
  --purple: #92469b;
  --purplish: #4e3894;
  --black: #000d0d;
}

/************General fonting**************/
h1 {
  font-family: Charade;
  font-size: 4rem;
  color: var(--yellow);
  text-shadow: 0px 2.5px 0px #000d0d, 0px 5px 0px #000d0d;
  -webkit-text-stroke: #000d0d 0.01rem;
}
h2 {
  font-family: FuturaEBC;
  font-size: 2rem;
  letter-spacing: -0.1rem;
}
h3 {
  font-family: FuturaEBC;
  font-size: 1.6rem;
  letter-spacing: -0.1rem;
}
p {
  font-family: FuturaRegular;
  font-size: 1.5rem;
}

/********** Blocking ********/
header {
  top: 0;
  position: sticky;
  background-color: var(--yellow);
  box-shadow: 0 5px 0px var(--black);
  height: 7vh;
  width: 100%;
  margin: auto;
  border-radius: 0% 0% 25px 25px;
}
.logo {
  height: 5vh;
  img {
    margin-right: 2vw;
    margin-top: 1vh;
    height: 100%;
  }
}
body {
  background-color: var(--beige);
}
main {
  width: 80vw;
  margin: auto;
}
footer {
  background-color: var(--orange);
  box-shadow: 0 -5px 0px var(--black);
  border-radius: 25px 25px 0% 0%;
  min-height: 40vh;
  margin: auto;
  padding-top: 20px;
  width: 100%;
  bottom: 0;
}
/************    MENU    *************/
nav {
  display: flex;
  justify-content: space-between;
}
menu {
  font-family: FuturaEBC;
  display: flex;

  list-style: none;
  text-decoration: none;
  li {
    text-decoration: none;
    a {
      text-decoration: none;
    }
  }
}
.omMig {
  font-family: FuturaEBC;
  background-color: var(--orange);
  color: var(--beige);
  padding: 1.5vh;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0 0% 0% 20px;
  box-shadow: 0 5px 0 var(--black);

  a {
    color: var(--beige);
  }
}
.omMig:hover {
  background-color: var(--red);
}
/*DROPDOWN*/
.dropbtn {
  font-family: FuturaEBC;
  background-color: var(--orange);
  color: var(--beige);
  padding: 1.5vh;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0% 0% 20px 0%;
  margin-right: 2vw;
  box-shadow: 0 5px 0 var(--black);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--beige);
  min-width: 9ch;
  right: 2ch;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--yellow);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--red);
}

/****Generalle regler*****/

p {
  max-width: 65ch;
}
h1 {
  text-align: center;
}

/***********Experimento**********/
.n9 {
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
  border-radius: 400px 400px 400px 400px;
  justify-content: center;
  align-items: center;
}
.a {
  position: absolute;
  left: 0;
  top: 300px;
  z-index: -1;
  background-color: var(--yellow);
  height: 400px;
  width: 400px;
}
.b {
  background-color: var(--orange);
}
.c {
  background-color: var(--red);
}
.d {
  background-color: var(--purple);
}
.e {
  background-color: var(--purplish);
}
.f {
  background-color: var(--black);
}
.g {
  background-color: var(--beige);
}
/******Frontpage numbers*******/
nr {
  position: relative;
  color: var(--yellow);
  font-family: Charade;
  cursor: pointer;
  font-size: 9rem;
  text-shadow: 2px 2px 0px var(--orange), 4px 4px 0px var(--red), 6px 6px 0px var(--purple), 8px 8px 0px var(--purplish);

  transition: 0.5s ease-in-out;
  z-index: 0;
}
nr:hover {
  text-shadow: 2px 5px 0px var(--orange), 4px 10px 0px var(--red), 6px 15px 0px var(--purple), 8px 20px 0px var(--purplish);

  z-index: 20;
}
.numbers {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  margin: auto;
}

/*****************Making it groovy****************/

h2 {
  margin: auto;
  width: fit-content;
  padding: 20px;

  border-radius: 20px;
  background-color: var(--yellow);
  box-shadow: 2px 2px 0px var(--orange), 4px 4px 0px var(--red), 6px 6px 0px var(--purple), 8px 8px 0px var(--purplish);
}
p {
  margin: 5vh auto;
  width: fit-content;
  padding: 20px;

  border-radius: 20px;
  background-color: var(--yellow);
  box-shadow: 2px 2px 0px var(--orange), 4px 4px 0px var(--red), 6px 6px 0px var(--purple), 8px 8px 0px var(--purplish);
}
