/******** Reset ***********/
* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}
/****************************/
/************Colors***********/
:root {
  --beige: #eadeb7;
  --yellow: #ffc70d;
  --orange: #f06920;
  --red: #eb1d31;
  --purple: #92469b;
  --purplish: #4e3894;
  --black: #000d0d;
}

/************General fonting**************/
h1 {
  margin-top: 5vh;
  font-family: Charade;
  font-size: 7rem;
  color: var(--yellow);
  text-shadow: 0px 2.5px 0px #000d0d, 0px 5px 0px #000d0d;
  -webkit-text-stroke: #000d0d 0.01rem;
}
h2 {
  margin-top: 5vh;
  font-family: FuturaEBC;
  font-size: 2rem;
  letter-spacing: -0.1rem;
}

h3 {
  margin-top: 5vh;
  font-family: FuturaEBC;
  font-size: 1.6rem;
  letter-spacing: -0.1rem;
}
p {
  margin-top: 5vh;
}
p,
a,
ul {
  font-family: FuturaRegular;
  font-size: 1.5rem;
}

/********** Blocking ********/
header {
  top: 0;
  position: sticky;
  background-color: var(--yellow);
  box-shadow: 0 5px 0px var(--black);
  height: 7vh;
  width: 100%;
  margin: auto;
  border-radius: 0% 0% 25px 25px;
}
.logo {
  height: 5vh;
  img {
    margin-right: 2vw;
    margin-top: 1vh;
    height: 100%;
  }
}
body {
  background: #eadeb7;
  /*******ITSA TOO MUCHA***********/
  /* background: radial-gradient(
    circle,
    rgba(234, 222, 183, 1) 47%,
    rgba(255, 199, 13, 1) 47%,
    rgba(240, 105, 32, 1) 49%,
    rgba(146, 70, 155, 1) 51%,
    rgba(78, 56, 148, 1) 53%,
    rgba(234, 222, 183, 1) 53%,
    rgba(234, 222, 183, 1) 68%,
    rgba(78, 56, 148, 1) 68%,
    rgba(146, 70, 155, 1) 71%,
    rgba(240, 105, 32, 1) 73%,
    rgba(255, 199, 13, 1) 76%,
    rgba(234, 222, 183, 1) 76%
  ); */
}
main {
  margin: auto;
}
@media (min-width: 800px) {
  main {
    width: 80vw;
  }
}
footer {
  background-color: var(--orange);
  box-shadow: 0 -5px 0px var(--black);
  border-radius: 25px 25px 0% 0%;
  min-height: 25vh;
  margin: auto;
  margin-top: 5vh;
  padding-top: 20px;
  width: 100%;
  bottom: 0;
}
/************    MENU    *************/
nav {
  display: flex;
  justify-content: space-between;
}
menu {
  font-family: FuturaEBC;
  display: flex;
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
  li {
    text-decoration: none;
    a {
      text-decoration: none;
      font-size: 1.5rem;
    }
  }
  button {
    font-size: 1.5rem;
  }
}
#omMig {
  font-family: FuturaEBC;
  background-color: var(--orange);
  color: var(--beige);
  padding: 1.5vh;

  border: none;
  cursor: pointer;
  border-radius: 0 0% 0% 20px;
  box-shadow: 0 5px 0 var(--black);

  a {
    font-family: FuturaEBC;
    color: var(--beige);
    font-size: 1.5rem;
  }
}
#omMig:hover {
  background-color: var(--red);
}
/*DROPDOWN*/
.dropbtn {
  font-family: FuturaEBC;
  background-color: var(--orange);
  color: var(--beige);
  padding: 1.5vh;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0% 0% 20px 0%;
  margin-right: 2vw;
  box-shadow: 0 5px 0 var(--black);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--beige);
  min-width: 9ch;
  right: 2ch;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--yellow);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--red);
}

/****Generalle regler*****/

p {
  max-width: 65ch;
}
h1 {
  text-align: center;
}

/***********Experimento**********/
.n9 {
  display: flex;
  width: 96%;
  height: 96%;
  margin: auto;
  border-radius: 400px 400px 400px 400px;
  justify-content: center;
  align-items: center;
}
.a {
  position: absolute;
  left: -350px;
  top: 300px;
  z-index: -1;
  background-color: var(--yellow);
  height: 600px;
  width: 600px;
}
.b {
  background-color: var(--orange);
}
.c {
  background-color: var(--red);
}
.d {
  background-color: var(--purple);
}
.e {
  background-color: var(--purplish);
}
.f {
  background-color: var(--black);
}
.g {
  background-color: var(--beige);
}
#a2 {
  left: 150px;
  top: 300px;
}
/******Frontpage numbers*******/
.nr {
  /* position: relative; */
  color: var(--yellow);
  font-family: Charade;
  cursor: pointer;
  font-size: 7rem;
  text-shadow: 2px 2px 0px var(--orange), 4px 4px 0px var(--red), 6px 6px 0px var(--purple), 8px 8px 0px var(--purplish);
  text-decoration: none;
  transition: 0.2s ease-in-out;
  z-index: 0;
  height: max-content;
  width: 100%;
  /* border: var(--black) dashed 2px; */
  text-align: center;
}
@media (min-width: 800px) {
  .nr {
    font-size: 15rem;
  }
}
.nr:hover {
  text-shadow: 2px 10px 0px var(--orange), 4px 20px 0px var(--red), 6px 30px 0px var(--purple), 8px 40px 0px var(--purplish);
  transform: scale(1.5);
  z-index: 20;
}
.numbers {
  display: flex;
  justify-content: space-between;

  margin: 0 20px;
  max-height: 7rem;
  margin-bottom: 15vh;
}

/*****************Making it groovy****************/

h2,
h3,
p {
  padding: 10px 20px;
  width: fit-content;
  margin: auto;
  border-radius: 20px;
  background-color: var(--yellow);
  box-shadow: 2px 2px 0px var(--orange), 4px 4px 0px var(--red), 6px 6px 0px var(--purple), 8px 8px 0px var(--purplish);
}

/******** lists of links*******/
.overview {
  background-color: var(--orange);
  padding: 10px 30px;
  width: max-content;
  border-radius: 20px;
  margin: auto;
}
.list {
  list-style: upper-roman;
  color: var(--beige);
  li {
    border-radius: 20px;
    /* border: var(--black) 2px dashed; */
    box-shadow: 2px 2px 1px black;
    padding: 5px;
    a {
      color: var(--beige);
      text-decoration: none;
      padding: 5px;
      text-align: center;
    }
  }
}
.list > li > a:hover {
  background-color: var(--red);
  color: var(--beige);
}
@media (min-width: 800px) {
  .top {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
}

/********1 screenshot at a time***********/
.desk {
  display: none;
}
.mob {
  display: block;
}
@media (min-width: 800px) {
  .desk {
    display: block;
  }
  .mob {
    display: none;
  }
}

/********** GRIDS ************/
.grid_1-1 {
  border: var(--black) solid;
  border-radius: 20px;
  background-color: var(--yellow);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: none;
  justify-items: center;
  place-content: center;
  * {
    margin: auto;
    padding: none;
    background-color: none;
    box-shadow: none;
    text-shadow: none;
    font-weight: 500;
    -webkit-text-stroke: #ffc70d;
    color: var(--black);
    font-size: 1.5rem;
  }
}
.cb {
  font-family: Futura;
  font-size: 2rem;
  margin: 20px;
  height: 30vw;
  width: 30vw;
  box-shadow: 3px 3px 5px black;
}
